.head1 {
  color: #2c7f38;
  font-weight: 600 !important;
  margin-bottom: 1rem !important;
}

.head2 {
  font-weight: 600 !important;
}

.heading {
  font-weight: bolder !important;
  color: #2d313d;
}

.spaceBefore {
  margin-top: 2rem !important;
}
